body {
    background-color: #2f3136;
    color: #e6e6e6;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #3da5ff;
    text-decoration: none;
    font-weight: bold;
}


header {
    text-align: center;
    padding: 80px 20px;
}


header h1 {
    font-size: 3rem;
    color: #ffffff;
}


section h2 {
    color: #9b5cff;
    text-align: center;
    margin-bottom: 20px;
}


aside h3 {
    color: #3da5ff;
}


section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}


#services {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#services aside {
    background: #3a3d42;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
}


header a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    border: 2px solid #3da5ff;
    border-radius: 6px;
    color: #3da5ff;
}

header a:hover {
    background-color: #3da5ff;
    color: white;
}


footer {
    text-align: center;
    padding: 20px;
    background: #1f2124;
}
